.list__item {
    width: 225px;
    height: 120px;
    background-color: var(--main-color);
    margin-right: 5px;
    cursor: pointer;
    color: var(--secondary-color);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    video {
      width: 100%;
      height: 140px;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  
    &:hover {
      width: 325px;
      height: 300px;
      position: absolute;
      top: -150px;
      -webkit-box-shadow: var(--item-bg-shadow);
      box-shadow: var(--item-bg-shadow);
      border-radius: 5px;
        
      img {
        height: 140px;
      }
  
      .list__item-info {
        display: flex;
        text-align: left;
        flex-direction: column;
        padding: 5px;
  
        .list__item-icons {
          display: flex;
          margin-bottom: 10px;
  
          .icon {
            border: 2px solid var(--secondary-color);
            padding: 5px;
            border-radius: 50%;
            margin-right: 10px;
            font-size: 13px;
          }
        }
        .list__item-info-top {
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          font-size: 14px;
          font-weight: 600;
          color: var(--tertiary-color);
  
          .limit {
            border: 1px solid var(--tertiary-color);
            padding: 1px 3px;
            margin: 0 6px;
          }
        }
  
        .list__item-description {
          font-size: 12px;
          margin-bottom: 5px;
        }
  
        .list__item-genre {
          font-size: 14px;
          color: lightgray;
        }
      }
    }
  }