.navbar {
    color: var(--secondary-color);
    font-size: 14px;
    position: fixed;
    width: 100%;
    top: 0;
    background: var(--linear-gradient-navbar);
    z-index: 999;

    &.scrolled {
        background-color: var(--main-color);
    }

    .navbar__container {
        padding: 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;

        .navbar__left-side {
            display: flex;
            align-items: center;

            img {
                height: 25px;
                margin-right: 40px;
            }

            span {
                margin-right: 20px;
                cursor: pointer;
            }
        }

        .navbar__right-side {
            display: flex;
            align-items: center;

            .navbar__search-icon,
            .navbar__notification-icon,
            .navbar__user-icon {
                margin: 0px 10px;
                cursor: pointer;
            }

            .navbar__arrow-down-icon {
                margin-left: -20px;
            }
            

            img {
                cursor: pointer;
            }

            .navbar__profile {
                .options {
                    display: none;
                    background-color: var(--main-color);
                    border-radius: 5px;
                }

                &:hover {
                    .options {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        padding: 10px;
                        margin-left: -40px;

                    }
                }
            }
        } 
    }
}